<h2>Add new celeb</h2>

<form action="/celebrities" method="post">
    <label for="name">celeb name</label>
    <input type="text" name="name" id="name">

    <label for="occupation">occupation</label>
    <input type="text" name="occupation" id="occupation">

    <label for="catchphrase">catchphrase</label>
    <input type="text" name="catchphrase" id="catchphrase">

    <button type="submit">Add your celeb!</button>

</form>